@model IEnumerable<Review>

@{ 
    ViewBag.Title = "Reviews administration";
    Layout = "_AdminLayout";
}

@foreach(var r in Model){
<div class="card card-outline-primary m-1 p-1">
        <div class="p-1 bg-gradient" style="background-color: #e3f2fd; text-decoration-color: #2331">
            <h3>
                <a>@r.Name</a>
            </h3>
        </div>
        <h5>
            <span class="badge bg-light text-dark">
                <small>Author: @r.Author</small>
            </span>
        </h5> 
            <div class="card-text p-1" style="white-space: pre-line">@r.ReviewText</div>
        <span class="badge bg-light text-dark">
            <small>Review author: @r.ReviewAuthor &nbsp</small>
            <small>&nbsp @r.Type Grade: @r.AverageItemGrade </small>
            <small>&nbsp Likes: @r.Likes </small>
            <small>&nbsp Publication date: @r.PublicationDate.ToUniversalTime() </small>
        </span>
    </div>
                }
            
