@model ReviewListViewModel


@foreach (var r in Model.Reviews)
{
<div class="card card-outline-primary m-1 p-1">
    <div class="p-2 bg-gradient" style="background-color:lavender; text-decoration: none">
        <h3>
            <a class="text-dark" style="text-decoration: none"
               asp-action="ShowReview"
               asp-controller="Review"
               asp-route-ID="@r.ID" name="ID" value="@r.ID">@r.Name</a>
        </h3>
    </div>
    <h5>
        <span class="badge bg-light text-dark">
            <small>Author: @r.Author</small>
        </span>
    </h5>
    <div class="card-text p-1" style="white-space: pre-line">@r.ReviewText</div>
    <span class="badge bg-light text-dark">
        <small>Review author: @r.ReviewAuthor &nbsp</small>
        <small>&nbsp @r.Type Grade: @r.AverageItemGrade </small>
        <small>&nbsp Likes: @r.Likes </small>
        <small>&nbsp Publication date: @r.PublicationDate.ToUniversalTime() </small>
    </span>
    <div class="container-sm">
        <div class="row">
            <div class="col-4">
                <form asp-action="Rate" asp-for="ItemGrade" method="post">
                    <input type="hidden" name="ID" value="@r.ID" />
                    <button type="submit" class="btn btn-sm" style="background-color: lavender">Rate this @r.Type!</button>
                    <select class="form-select form-select-sm" aria-label="Default select grade" name="grade">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </form>
            </div>
            <div class="col-4"></div>
            
            <div class="col-4">
                <div class="text-right">
                    <form asp-action="Like" asp-for="Likes" method="post">
                        <input type="hidden" name="ID" value="@r.ID" />
                        <button type="submit" class="btn btn-sm" style="background-color: lavender">Like review!</button>
                    </form>
                </div>
            </div>
            </div>
            
    </div>
</div>
}
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn" style="background-color: #e3f2fd" page-url-category="@Model.CurrentType"
     class="btn-group pull-right m-1">
</div>
